<div class="w-full h-full overflow-y-auto p-4">
  <div class="flex items-center justify-between w-full">
    <h2 class="text-lg text-green-500 font-medium">Projects</h2>
    <%= link_to 'Add Project', new_organization_project_path, class: 'btn-primary' %>
  </div>
</div>